body{
margin:0;
padding:0;
font-family:Arial,sans-serif;
background:#dff6ff;
}

.container{
max-width:500px;
margin:auto;
padding:20px;
}

h1{
text-align:center;
color:#0077b6;
font-size:32px;
}

button{
width:100%;
padding:16px;
margin-top:12px;
font-size:20px;
border:none;
border-radius:16px;
background:#90e0ef;
color:#023e8a;
font-weight:bold;
}

#question{
font-size:24px;
margin-bottom:20px;
}

#progress{
font-size:18px;
font-weight:bold;
color:#0077b6;
margin-bottom:15px;
}

#scoreText{
font-size:28px;
font-weight:bold;
color:green;
}

.hidden{
display:none;
}

input{
width:100%;
padding:15px;
font-size:20px;
border-radius:15px;
border:2px solid #90e0ef;
margin-top:15px;
box-sizing:border-box;
}

.update-btn{
background:#4CAF50;
color:white;
}